{:title "Teeeeest"
 :name "Testing Site"
 :tagline "Where magic happenings come true!"
 :pages [{:type :overview
          :title ""
          :subtitle "Who We Are And What You Do"}
         {:type :blog
          :title "Foo's blog about bar"
          :subtitle "Because Bar is bar-none!"
          :author "Tipsy Widdlebiscuits"
          :posts "foobar"}]}
